.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: antiquewhite;
}

.box{
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.inp{
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  
}
.inp:focus{
  border-bottom: 1px solid rgb(235, 70, 70);
}
.btn{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 1rem;
}
.btn:disabled{
opacity: 0.5;
}

.image{
  max-width: 80px;
  max-height: 80px;
  
  min-width: 40px;
  min-height: 40px;
}

.loader{
  width: 4vmax;
  height: 4vmax;
  border-right: 4px solid #090909;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
}
  
.loader:before, .loader:after {
    content: '';
    width: 3vmax;
    height: 3vmax;
    display: block;
    position: absolute;
    top: calc(50% - 1.5vmax);
    left: calc(50% - 1.5vmax);
    border-left: 3px solid #635e5e;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }
  
  .loader:after {
    width: 2vmax;
    height: 2vmax;
    top: calc(50% - 1vmax);
    left: calc(50% - 1vmax);
    border: 0;
    border-right: 2px solid #4c4a4a;
    animation: none;
  }


@keyframes spinLeft {
  from {transform:rotate(0deg);}
  to {transform:rotate(720deg);}
}

@keyframes spinRight {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}
